{% extends 'base.html.twig' %}

{% block title %}Emprunteur{% endblock %}

{% block body %}
    <h1>Emprunteur</h1>

    <table >
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ user.emprunteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.emprunteur.prenom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ user.emprunteur.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_home_index', {'id': user.id}) }}">Retour</a>

    <a href="{{ path('app_profile_emprunteur_edit', {'id': user.id}) }}">Modifier</a>

    <a href="{{ path('app_profile_emprunteur_password', {'id': user.id}) }}">Changer mot de passe</a>

{% endblock %}
