{% extends 'base.html.twig' %}

{% block title %}Livre index
{% endblock %}

{% block body %}
	<h1>Liste des Livres</h1>

	<table>
		<thead>
			<tr>
				<th>Titre</th>
				<th>Auteur</th>
				<th>AnneeEdition</th>
				<th>NombrePage</th>
				<th>Disponibilité</th>
			</tr>
		</thead>
		<tbody>
			{% for livre in livres %}
				<tr>
					<td>
						<a href="{{ path('app_home_show', {'id': livre.id}) }}">
							{{ livre.titre }}
						</a>
					</td>
					{% if livre.auteur is not null %}
						<td>{{ livre.auteur.nom }}
							{{ livre.auteur.prenom }}</td>
					{% else %}
						<td>Aucune donnée</td>
					{% endif %}
					<td>{{ livre.anneeEdition }}</td>
					<td>{{ livre.nombrePage }}</td>
					<td>
						{% set today = "now"|date("Y-m-d") %}
						{% set disponible = true %}

						{% for emprunt in livre.emprunts %}
							{% if emprunt.dateRetour is null or emprunt.dateRetour|date("Y-m-d") >= today %}
								{% set disponible = false %}
							{% endif %}
						{% endfor %}
						{% if disponible %}
							Disponible
						{% else %}
							Indisponible
						{% endif %}
					</td>
				{% else %}
					<tr>
						<td colspan="6">Aucune donnée</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
{% endblock %}
