{% extends 'base.html.twig' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}

<style> h2,h1 {color: red} </style>

<h2> Données du premier livre</h2>
<h3> ID : {{livre1.id }}, Titre : {{ livre1.titre }}, </h3>
<p> Année d'édition : {{ livre1.anneeedition }}, Nombre de page : {{ livre1.nombrepage }}, </p> 
<p> Code Isbn : {{ livre1.codeisbn }}, Auteur :  {{ livre1.auteur.nom }} {{ livre1.auteur.prenom }}</p>
<h3>Genres :</h3>
<ul>
    {% for genre in livre1.genres %}
        <li>{{ genre.nom }}</li>
    {% endfor %}
</ul>

<h2> Liste des livre fait par l'auteur 2 </h2>
{% for livreAuteur in livreAuteurs %}
<h3> {{ livreAuteur.titre }} </h3>    
{% endfor %}

<h2>Liste des livres dont le titre contient le mot lorem</h2>
{% for livreKeyword in livreKeywords %}
<h3> {{livreKeyword.id}} {{livreKeyword.titre}}</h3>
<p> {{livreKeyword.auteur.nom}} {{livreKeyword.auteur.prenom}} </p>
	
{% endfor %}

<h2>Liste des livres dont le genre contient le mot clé roman</h2>
{% for livre in genreKeywords %}
    <h3>{{ livre.id }} {{ livre.titre }}</h3>
    <p>{{ livre.auteur.nom }} {{ livre.auteur.prenom }}</p>
    <p>Genres :</p>
    <ul>
        {% for genre in livre.genres %}
            <li>{{ genre.nom }}</li>
        {% endfor %}
    </ul>
{% endfor %}


<h2>Liste des Livres par ordre alphabétique</h2>
{% for livreOrder in livreOrders %}
	<h3> {{ livreOrder.id }} {{ livreOrder.titre }} </h3>
	<p> {{ livreOrder.auteur.nom }} {{ livreOrder.auteur.prenom }}</p>
{% endfor %}




{% endblock %}
